body {
    font-family: 'Open Sans', sans-serif;
}

img {
	width: calc(100% - 20px);
	max-width: 375px;
	max-height: 200px;
	margin: 10px;
	padding-right: 1em;
	padding-top: 1em;
	object-fit: contain;
}

.header {
	background-color: #1878be;
	color: white;
	border-radius: 15px 15px 5px 5px;
	border-top: 2px solid black;
	padding: 2em;
	margin-top: 15px;
	margin-bottom: 10px;
	box-shadow: 4px 3px 3px #85bdff;
}

.header > h1 {
	margin-left: 1em;
}

.navbar-nav {
	margin-right: 450px;
}

.navbar-expand {
	border-bottom: 2px white solid;
	border-radius: 1px;
}

.new {
	color: white;
	background-color: black;
	border-radius: 10px;
	margin-bottom: 15px;
	font-size: 15px;
	padding: 10px;
	box-shadow: 4px 3px 3px #a6acb3;
}

.new:hover{
	border-right: 4px white solid;
	border-left: 4px white solid;
	margin-left: 10px;
	width: calc(100% - 10px);
	cursor:pointer;
}

.content {
	display: grid;
	justify-content: left;
	align-items: center;
	margin-bottom: 15px;
}

.image {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;	
}