body {
    font-family: 'Open Sans', sans-serif;
}

img {
	width: calc(100% - 20px);
	max-width: 375px;
	height: auto;
	margin: 10px;
	padding-right: 1em;
	padding-top: 1em;
}

.header {
	background-color: #1878be;
	color: white;
	border-radius: 15px 15px 5px 5px;
	padding: 2em;
	margin-top: 15px;
	margin-bottom: 10px;
	box-shadow: 4px 3px 3px #85bdff;
}

.header > h1 {
	margin-left: 1em;
}

.new {
	color: white;
	background-color: black;
	border-radius: 10px;
	margin-bottom: 15px;
	font-size: 15px;
	padding: 10px;
	box-shadow: 4px 3px 3px #a6acb3;
}

.content {
	display: grid;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}